* {
  font-family: 'Arial Narrow Bold', sans-serif;
}
button {
  background: linear-gradient(to right, rgb(225, 84, 84), white);
}

button:hover {
  transform: scale(1.1);
}
h1 {
  border: black 20px double;
  background: linear-gradient(to right, rgb(225, 84, 84), white);
}

body {
  background-color: rgba(221, 194, 194, 0.647);
}
input {
  margin-left: 35px;
}
label {
  text-align: center;
}
